{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='span8 offset2'>
{% include "flashes.html" %}
<img src={{picture}} alt={{user}} style="width:250px">
<h3>Coach {{user}}</h3>
{% if salary %}
<h3>Salary: ${{ salary }}</h3>
<h1>Your Teams</h1>
{% endif %}

<ul class="unstyled">
    {% for team in teams %}
    <li><h2><a href='{{ url_for('team_info', tid=team[0]) }}'>{{ team[1] }} - {{team[2]}}</a></h2></li>
    {% endfor %}
</ul>

<form class="form-horizontal" id="addteam" action="{{url_for('add_team_to_coach')}}" method="post" enctype="multipart/form-data">
<fieldset>
<legend>Add Teams</legend>
        <select id="teams" name="team">
        {% for team in diffteams %}
        <option value="{{ team[0] }}">{{ team[1] }} - {{ team[2] }}</option>
        {% endfor %}
        <option value="other">Other</option>
    </select>

    <div class='newteams'>
        <input class='newteams' type="text" name="school" class="input-medium" placeholder="School"><br />
        <input class='newteams' type="text" name="sport" class="input-medium" placeholder="Sport"><br />
        <input class='newteams' type="text" name="season" class="input-medium" placeholder="Season"><br />
        <input class='newteams' type="text" name="city" class="input-medium" placeholder="Hometown"><br />
        <input class='newteams' type="text" name="mascot" class="input-medium" placeholder="Mascot"><br />
        
    </div>
    <button type="submit" class="btn">Addteam</button>
</fieldset>
</form>

<script type='text/javascript'>
    $(document).ready(function() {

        $('.newteams').hide(); 

        $('#teams').change(function(){
            if ($(this).find('option:selected').attr('value') === 'other') {
                $('.newteams').show();
            }
            else {
                $('.newteams').hide();
            }
        });

    });

</script>





{% endblock %}

