{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='span8 offset2'>
{% include "flashes.html" %}
<img src={{picture}} alt={{user}} style="width:250px">
<h3>Coach {{user}}</h3>
{% if salary %}
<h3>Salary: ${{ salary }}</h3>
<h1>Your Teams</h1>
{% endif %}

<ul class="unstyled">
    {% for team in teams %}
    <li><h2><a href='{{ url_for('team_info', tid=team[0]) }}'>{{ team[1] }}</a></h2></li>
    {% endfor %}
</ul>

    {% if current_coach %}
        <form class="form-horizontal" id="changecoachcreds" method="post" enctype="multipart/form-data">
        <fieldset>
            <input type="text" name="name" class="input-large" placeholder="Name"><br />
            <input type="text" name="email" class="input-large" placeholder="Email Address"><br />
            <input type="password" name="password" class="input-large" placeholder="Change password"><br />
            <div>
                <label for="files" class="btn"> Select Profile Image </label>
                <input id="files" style="visibility:hidden; "type="file" name="file" class = "input-large" placeholder="Picture"><br/>
            </div>
            <a href='{{ url_for('change_coach_credentials', uid = uid ) }}'>
            <button type="submit" class="btn">Change Creds</button>
            </a>
        </fieldset>
    </form>

        
    {% endif %}



{% endblock %}

