{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='span8 offset2'>
        <div class='page-header'>
            <h1>{{ '%s %s' % (team[0], mascot) }}</h1>
            <h2>{{ team[1] }}</h2>
            <h2>{{ team[2] }}</h2>
        </div>
        {% include "flashes.html" %}
        {% if current_coach %}
        <p>You coach this team.</p>
        {% endif %}
        <table class='table table-striped '>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                {% for player in members %}
                <tr>
                    <td>{{ player[1] }}</td>
                    <td><a href='{{ url_for('athlete_info', uid=player[0]) }}'>{{ player[2] }}</a></td>
                    <td>{{ player[3] }}</td>
                    {% if current_coach %}
                    <td>
                        <a id='editor' class='btn btn-warning' onclick='myFunction( {{tid}},  {{player[0]}} , {{player[1]}}, "{{player[3]}}" )' href='#'>

                            <i class="icon-edit icon-white"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if current_coach %}
        <h1>Recent Workouts  
            <a id='create' class='btn btn-success' href='{{ url_for('create_workout', tid=tid ) }}'>

                <i class="icon-plus-sign icon-white"></i> 


                Create a workout
            </a>

        </h1>
        <table class='table table-striped'>
            <tbody>
                {% for workout in workouts %}
                <tr>
                    <th>
                        <a href='{{ url_for('workout_info', tid=tid, wid=workout[0]) }}'>
                            {{ workout[1].strftime('%D') }}

                            <a id='create' class='btn btn-danger' href='{{ url_for('delete_workout', wid=workout[0], tid = tid) }}'>

                                <i class="icon-minus-sign icon-white"></i>
                            </a>

                        </a> 
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>
    function myFunction(tid, uid, num, pos) {

        var newpos = prompt("Change position: ", pos); 
        var newnum = prompt("Change number: ", num); 

        str1 = "/team/"; 
        str2 = tid.toString();
        str3 = "/athlete/"
        str4 = uid.toString(); 
        str5 = "/"; 
        str6 = newnum.toString(); 
        str7 = "/"
        str8 = newpos.toString(); 
        str9 = "/edit"; 

        str1 = str1.concat(str2, str3, str4, str5, str6, str7, str8, str9); 

        window.location.href = str1; 

}
</script>
{% endblock %}